<h2><app-servers></app-servers></h2>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <br />
      <div class="input-group">
        <div class="btn-group" role="group" aria-label="...">
          <button (click)="showSuccessMessage()" type="button" class="btn btn success">Success</button>
          <button (click)="showWarningMessage()" type="button" class="btn btn success">Warning</button>
        </div>
      </div>
      <div [hidden]="clickedSuccess">
        <app-success-alert></app-success-alert>
      </div>
      <div [hidden]="clickedWarning">
        <app-warning-alert></app-warning-alert>
      </div>
    </div>
  </div>
</div>
