


<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2><app-servers></app-servers></h2>
      <br />
      <div class="input-group">
        <div class="btn-group" role="group" aria-label="...">
          <button (click)="showSuccessMessage()" type="button" class="btn btn success">Success</button>
          <button (click)="showWarningMessage()" type="button" class="btn btn success">Warning</button>
        </div>
      </div>
      <div [hidden]="clickedSuccess">
        <app-success-alert></app-success-alert>
      </div>
      <div [hidden]="clickedWarning">
        <app-warning-alert></app-warning-alert>
      </div>
    </div>
  </div>
</div>

<hr />

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <label>Username</label>
      <input type="text" class="form-control" [(ngModel)]="userName">
      <p>{{ userName }}</p>
      <button class="btn btn-primary" [disabled]="userName === ''"
              (click)="userName = ''">Reset User</button>
    </div> 
  </div>
</div>


